html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
/* ol,
ul {
  list-style: none;
} */
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*************************************************************************/

/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Raleway', sans-serif; */

body {
  /* padding: 50px; */
  font-family: "Montserrat", sans-serif;
}

main {
  min-height: 100vh;
}

/* .bg-dark {
  background-color: #14140c !important;
} */
/**********************************navbar - footer*********************************/
.navbar {
  background-color: #679b9b !important;
  height: 100px;
}

#navbarNav {
  display: flex;
  justify-content: flex-end;
  font-size: 22px;
}

#navbarNav li {
  padding-right: 20px;
}

#logo {
  height: 60px;
  width: auto;
}

footer {
  text-align: center;
  height: 120px;
  width: 100%;
  background-color: #f7c5a8;
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
}

.footer-div p {
  letter-spacing: 2px;
  font-weight: 500;
}

.footer-icon {
  font-size: 1.3rem;
  padding: 20px;
}

/**********************************homepage*********************************/
.top-quote {
  margin-top: 80px;
  text-align: center;
  font-size: 3rem;
  letter-spacing: 2px;
  font-family: "Patrick Hand", cursive;
  color: #ff9a76;
}

#category-picker {
  text-align: center;
  padding-top: 60px;
  font-size: 1.2rem;
  letter-spacing: 3px;
}

.category-container {
  border: 1px solid lightgrey;
  height: 260px;
  width: 210px;
  border-radius: 3%;
  -webkit-box-shadow: 5px 5px 5px -3px rgba(86, 86, 86, 0.59);
  box-shadow: 5px 5px 5px -3px rgba(86, 86, 86, 0.59);
}

.category-container:hover {
  box-shadow: none;
}

#categories {
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
}

#categories a {
  text-decoration: none;
}

.wellness {
  background-image: url("../images/wellness.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.jewelry {
  background-image: url("../images/jewel.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.gardening {
  background-image: url("../images/gardening.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.misc {
  background-image: url("../images/misc.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.decor {
  background-image: url("../images/home-decor.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#categories h3 {
  text-align: center;
  margin-top: 205px;
  font-size: 1.8rem;
  color: white;
  letter-spacing: 2px;
  font-weight: 500;
}

#searchbar {
  text-align: center;
  margin: 100px;
  display: flex;
  justify-content: center;
  border-width: 1px;
}

#searchbar > input {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: darkgray;
  width: 320px;
  height: 50px;
  text-align: center;
  font-size: 1.2rem;
  border-right-color: #ff9a76;
  border-color: #dcdcdc;
  outline: none;
}

#search-button {
  height: 50px;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-color: #ff9a76;
  width: 110px;
  background-color: #ff9a76;
  color: #ffeadb;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 1.2rem;
}

/**********************************addPost*********************************/

#add-craft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #ff9a76;
  border-radius: 10px;
  width: 800px;
  margin: 50px auto;
  padding: 50px;
  text-align: center;
  background-color: #ffeadb;
}

.instruction-field {
  height: 80px;
  width: 500px;
  margin: 10px auto;
}

#add-craft > input {
  width: 250px;
  margin: 10px auto;
  padding: 10px;
}

#add-craft h3 {
  margin-top: 30px;
  margin-bottom: 20px;
  letter-spacing: 3px;
  font-family: "Patrick Hand", cursive;
  font-size: 2rem;
  font-weight: 600;
  color: #679b9b;
}

#addButton {
  margin: 50px auto;
}

#radio-buttons {
  display: flex;
  justify-content: space-around;
  width: 600px;
  margin: 30px auto;
}

.category-selector > label {
  padding: 6px;
  letter-spacing: 1px;
}

#category-heading {
  margin-top: 40px;
}

.file-upload {
  border: 1px solid gray;
  background-color: white;
  color: gray;
}

/**********************************editPost*********************************/
#hideId {
  display: none;
}

.post-intro {
  text-align: center;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
  font-size: 1.3rem;
  margin-top: 50px;
}

.post-intro img {
  height: 35px;
  width: auto;
  margin-left: 10px;
}

/**********************************Favorites/Results*********************************/

#favorites-page {
  text-align: center;
  padding: 20px;
}

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#favorites-page h1 {
  font-size: 20px;
}

#welcome-message {
  font-size: 36px;
  padding: 30px;
  color: #ff9a76;
  letter-spacing: 2px;
}

.empty-posts {
  min-height: 300px;
}

.empty-posts p {
  padding-top: 100px;
}

hr {
  width: 80%;
}

.shareButton {
  border-radius: 15px;
  border: none;
  height: 50px;
  width: 220px;
  background-color: #ff9a76;
  letter-spacing: 2px;
  margin: 20px;
  color: #ffeadb;
  font-weight: 500;
}

.shareButton:hover {
  background-color: #ffeadb;
  color: #ff9a76;
  border: 2px solid #ff9a76;
  outline: #ff9a76;
}

.add-creativity {
  text-align: center;
  margin: 40px;
}

.add-creativity h2 {
  letter-spacing: 3px;
  font-size: 1.2rem;
}

/**********************************Card/Results*********************************/

.card {
  border: 1px solid #f7c5a8;
  -webkit-box-shadow: 5px 5px 5px -3px rgba(86, 86, 86, 0.59);
  box-shadow: 5px 5px 5px -3px rgba(86, 86, 86, 0.59);
  border-radius: 6px;
  margin: 20px;
  padding: 5px;
  text-align: center;
  width: 330px;
  background-color: #ffeadb;
  height: 420px;
  padding: 18px;
}

.card:hover {
  box-shadow: none;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border: 3px solid white;
  margin: 0 auto;
}

.card h1 {
  font-size: 20px;
  padding-top: 10px;
}

.card button {
  width: 50px;
  margin: 0 auto;
}

.shareButton {
  padding: 10px;
}

.icon-parent {
  display: flex;
  /* justify-content: space-between; */
  /* border: 1px solid black; */
}

.card h1 {
  color: #505050;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.fave-div i {
  color: #ec524b;
  /* display: flex;
  flex-direction: row; */
  /* border: 1px solid black; */
}

.fave-div i:hover {
  text-decoration: none;

  color: #ff9a76;
}

.edit-div {
  /* display: flex; */
  /* border: 1px solid black; */
  margin-left: 60%;
}

.icon-parent i {
  font-size: 1.5rem;
  padding: 7px;
  position: absolute;
  bottom: 3px;
}

.fa-trash-alt {
  color: darkgray;
  right: 10px;
}

.fa-pencil-alt {
  color: #679b9b;
  right: 45px;
}

.fa-heart-broken {
  color: black;
}

#sorry-message {
  letter-spacing: 2px;
  text-align: center;
  margin: 200px;
}

#sorry-message a {
  color: #ff9a76;
  
}

#paintbrush {
  height: 80px;
  width: auto;
  text-align: center;
  margin: 30px;
}

.results {
  margin-bottom: 100px;
}


/**********************************Signup*********************************/

#signup-form {
  width: 400px;
  margin: 0 auto;
  padding-top: 80px;
}

#signup-form input {
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 400px;
  text-align: center;
}

#signup-button {
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 400px;
  letter-spacing: 2px;
  border: none;
}

/**********************************Login*********************************/
#login-form {
  width: 400px;
  margin: 0 auto;
  padding-top: 40px;
}

#login-form input {
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 400px;
  text-align: center;
}

#login-button {
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 400px;
  letter-spacing: 2px;
  border: none;
}

.account-message {
  text-align: center;
  margin-top: 30px;
}

.account-message a {
  color: #ff9a76;
}

.account-message a:hover {
  text-decoration: none;
}

.signup-message {
  text-align: center;
  padding-top: 60px;
  font-size: 1.3rem;
  letter-spacing: 3px;
}

.error-message {
  text-align: center;
  color: red;
}

/**********************************Details*********************************/
.backbutton {
  margin: 20px;
}

.back {
  margin-top: 200px;
  font-size: 16px;
  color: #ff9a76;
}

.back:hover {
  text-decoration: none;
  color: #f7c5a8;
}

#parent-div {
  display: flex;
  flex-direction: column;
  width: 1000px;
  margin: 50px auto;
  padding: 60px 40px;
  line-height: 25px;
  border: 2px solid #679b9b;
  border-radius: 10px;
  background-color: #fff6f0;
}

#parent-div h3,
#parent-div h2 {
  color: #679b9b;
  font-weight: 500;
  letter-spacing: 3px;
}

#upper-details {
  display: flex;
  /* align-items: center; */
}

#upper-details img {
  width: 400px;
  border: 3px solid white;
  margin-right: 20px;
  height: 400px;
  object-fit: cover;
}

#side-details {
  margin-left: 30px;
}

#side-details p {
  margin-bottom: 20px;
}

#lower-details {
  margin: 30px;
}

#lower-details li {
  margin: 15px;
}

#parent-div h3 {
  font-size: 30px;
  margin-bottom: 10px;
}

#parent-div h2 {
  font-size: 25px;
  margin-bottom: 10px;
  margin-top: 10px;
}
