html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*************************************************************************/

/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Raleway', sans-serif; */

body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

main {
  min-height: 100vh;
}

/* .bg-dark {
  background-color: #14140c !important;
} */
/**********************************navbar - footer*********************************/
.navbar {
  background-color: #679b9b !important;
  height: 100px;
}

#navbarNav {
  font-size: 20px;
}

#logo {
  height: 60px;
  width: auto;
}

footer {
  text-align: center;
  height: 150px;
  width: 100%;
  background-color: #f7c5a8;
}

.footer-icon {
  font-size: 1.3rem;
  padding: 20px;
}

/**********************************homepage*********************************/
.top-quote {
  margin-top: 60px;
  text-align: center;
  font-size: 2.5rem;
}

.category-container {
  border: 1px solid black;
  height: 250px;
  width: 200px;
  border-radius: 3%;
}

#categories {
  margin-top: 150px;
  display: flex;
  justify-content: space-around;
}

#categories a {
  text-decoration: none;
  letter-spacing: 3px;
}

.wellness {
  background-image: url("../images/wellness.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.jewelry {
  background-image: url("../images/jewel.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.gardening {
  background-image: url("../images/gardening.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.misc {
  background-image: url("../images/misc.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.decor {
  background-image: url("../images/home-decor.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#categories h3 {
  text-align: center;
  margin-top: 185px;
  font-size: 1.8rem;
  color: white;
}

/**********************************addPost*********************************/

#add-craft {
  display: flex;
  flex-direction: column;
  width: 60vw;
  margin: 0 auto;
}

#add-craft > input {
  margin: 5px;
  width: 30vw;
  margin: 0 auto;
}

#add-craft > div > label {
  margin: 10px 10px 20px 20px;
}

/**********************************Results*********************************/

.card {
  border: 2px solid black;
  border-radius: 6px;
  margin: 20px;
  padding: 5px;
  text-align: center;
  width: 330px;
}

.card img {
  width: 300px;
  height: auto;
}

.card button {
  width: 50px;
  margin: 0 auto;
}

/**********************************Signup*********************************/

#signup-form {
  width: 200px;
  margin: 0 auto;
}
